@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}

body{
  width:90vw;
  margin: auto;
}
