.dashboardContainer {
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    overflow: scroll;
}

.habitsContainer {
    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 1rem;
    padding: 4rem;
}

.newHabitCard {
    background-color: whitesmoke;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    border-radius: 1rem;
    padding: 2rem;
}

.newHabitButton {
    font-size: 5rem;
    color: green;
}

.dashboardTitle {
    margin: 3rem;
}