.newHabitContainer{
    background-color: rgb(238, 238, 238);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    margin-top: -3rem;
    margin-bottom: 1em;
}

.formInput {
    background-color: wheat;
}

.createHabitButton {
    font-size: 2em;
    font-weight: 300;
    border-radius: 0.2em;
    border: solid grey 0.2px;
    border-radius: 0.2em;
    color: rgb(21, 156, 21);
    cursor: pointer;
}